@if $animaciones==true {
	/* bounce */
	@keyframes bounce {
		0% {
			transform: scale(0.3);
		}
		50% {
			transform: scale(1.05);
		}
		70% {
			transform: scale(0.9);
		}
		100% {
			transform: scale(1);
		}
	}
	/* Grow in */
	@keyframes growIn {
		0% {
			transform: scale(0.2);
			opacity: 0;
		}
		50% {
			transform: scale(1.2);
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
	/* Shake */
	@keyframes shake {
		0%,
		100% {
			transform: translateX(0);
		}
		10%,
		30%,
		50%,
		70%,
		90% {
			transform: translateX(-10px);
		}
		20%,
		40%,
		60%,
		80% {
			transform: translateX(10px);
		}
	}
	/* ShakeUp */
	@keyframes shakeUp {
		0%,
		100% {
			transform: translateY(0);
		}
		10%,
		30%,
		50%,
		70%,
		90% {
			transform: translateY(-10px);
		}
		20%,
		40%,
		60%,
		80% {
			transform: translateY(10px);
		}
	}
	/* Rotate */
	@keyframes rotate {
		0% {
			transform-origin: center center;
			transform: rotate(-360deg);
		}
		100% {
			transform-origin: center center;
			transform: rotate(0);
		}
	}
	/* Wiggle */
	@keyframes wiggle {
		0% {
			transform: skewX(9deg);
		}
		10% {
			transform: skewX(-8deg);
		}
		20% {
			transform: skewX(7deg);
		}
		30% {
			transform: skewX(-6deg);
		}
		40% {
			transform: skewX(5deg);
		}
		50% {
			transform: skewX(-4deg);
		}
		60% {
			transform: skewX(3deg);
		}
		70% {
			transform: skewX(-2deg);
		}
		80% {
			transform: skewX(1deg);
		}
		90% {
			transform: skewX(0deg);
		}
		100% {
			transform: skewX(0deg);
		}
	}
	/* Swing */
	@keyframes swing {
		20% {
			transform: rotate(15deg);
		}
		40% {
			transform: rotate(-10deg);
		}
		60% {
			transform: rotate(5deg);
		}
		80% {
			transform: rotate(-5deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
	/* Tada */
	@keyframes tada {
		0% {
			transform: scale(1);
		}
		10%,
		20% {
			transform: scale(0.9) rotate(-3deg);
		}
		30%,
		50%,
		70%,
		90% {
			transform: scale(1.1) rotate(3deg);
		}
		40%,
		60%,
		80% {
			transform: scale(1.1) rotate(-3deg);
		}
		100% {
			transform: scale(1) rotate(0);
		}
	}
	/* Wobble */
	@keyframes wobble {
		0% {
			transform: translateX(0%);
		}
		15% {
			transform: translateX(-25%) rotate(-5deg);
		}
		30% {
			transform: translateX(20%) rotate(3deg);
		}
		45% {
			transform: translateX(-15%) rotate(-3deg);
		}
		60% {
			transform: translateX(10%) rotate(2deg);
		}
		75% {
			transform: translateX(-5%) rotate(-1deg);
		}
		100% {
			transform: translateX(0%);
		}
	}
	/* Pulse */
	@keyframes pulse {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.1);
		}
		100% {
			transform: scale(1);
		}
	}
}